<!DOCTYPE html>
<html lang="en"> <!-- Set this to the main language of your site -->
<head>
	<!-- Define the page charset to be utf-8 -->
	<meta charset="utf-8" />
	
    <title>{{ page.title }}</title>
	
	<!-- Enter a brief description of your page -->
	<meta name="description" content="">
	
	<!-- Define a viewport to mobile devices to use - telling the browser to assume that the page is as wide as the device (width=device-width) and setting the initial page zoom level to be 1 (initial-scale=1.0) -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	
	<!-- Add normalize.css which enables browsers to render all elements more consistently and in line with modern standards as it only targets particular styles that need normalizing -->
    <link href="{{ site.baseurl }}/css/normalize.css" rel="stylesheet" media="all" />

    <!-- Add bootstrap which makes everything better -->
    <link href="{{ site.baseurl }}/css/readable-bootstrap.min.css" rel="stylesheet" media="all" />
    <!--
    <link href="/css/font-awesome.min.css" rel="stylesheet" media="all" />
    -->
    <!--
    <link href="/css/bootstrap.min.css" rel="stylesheet" />
    -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="{{ site.baseurl }}/css/bootstrap-responsive.min.css" rel="stylesheet" />

    <!-- Include captionss.css for image captions -->
    <link href="{{ site.baseurl }}/css/captionss.min.css" rel="stylesheet" media="all" />

	<!-- Include the site stylesheet -->
    <link href="{{ site.baseurl }}/css/styles.css" rel="stylesheet" media="all" />
	
	<!-- Include the HTML5 shiv and shiv print polyfills for Internet Explorer browsers 8 and below -->
	<!--[if lt IE 9]>
		<script src="/js/html5shiv.js" media="all"></script>
		<script src="/js/html5shiv-printshiv.js" media="print"></script>
	<![endif]-->

</head>
<body>

    <!--
    <div id="top-banner">
        Banner Message Here
    </div>
    -->

    <div class="container pull-left">

	<!-- The page header typically contains items such as your site heading, logo and possibly the main site navigation -->
	<!-- ARIA: the landmark role "banner" is set as it is the prime heading or internal title of the page --> 

    <div class="row">

        <div class="span4" id="sidebar">

            <a href="{{ site.baseurl }}/">
                <h1>Josh and Erin</h1>
            </a>

            <img src="{{ site.baseurl }}/img/joshanderin.png" />
            <!--<div id="sidebar-image"></div>-->

            <p>
                <em>"Even after all this time the Sun never says to the
                    Earth, 'You owe me.' Look what happens with a love like
                    that: it lights the whole sky."</em> -Hafiz
            </p>

            <p>Josh and Erin are native Nebraskans who cannot seem to
            satiate their passion for global travel and new cultural
            experiences.
            With a zeal for intentional community, they are
            living in Argentina for the next year to serve as
            <a
                href="http://www.elca.org/Who-We-Are/Our-Three-Expressions/Churchwide-Organization/Global-Mission/Engage-in-Global-Mission/Global-Service/Basics-of-Global-Service/Young-Adults.aspx">YAGM</a>.
            There they will share in daily work and life with the people of Grand
            Bourg in the Greater Buenos Aires Area. They look forward to
            being changed by their experiences and hope you will join
            them through their writings and photos in this blog.</p>

        </div>

        <div class="span8" id="main">

            <ul id="nav-list">
                <li><a href="{{ site.baseurl }}/about.html">About Us</a></li>
                <li><a href="{{ site.baseurl }}/contact.html">Staying In Touch</a></li>
                <li><a href="{{ site.baseurl }}/photos.html">Photos</a></li>
                <li><a href="{{ site.baseurl }}/newsletters.html">Newsletters</a></li>
                <li><a href="{{ site.baseurl }}/archive.html">Blog Archive</a></li>
            </ul>

            <div class="wrap content shadow">

            {{ content }}

        </div>

	        <footer class="pull-right" role="contentinfo" style="margin:
            10px 5px; text-align: right;">

                <!-- Copyright information can be contained within the <small> element. The <time> element is used here to indicate that the '2012' is a date -->
                    <small>
                        &copy; <time datetime="2013">2013</time>-<time
                        datetime="2014">2014</time>
                        <a href="http://joshbranchaud.com">Josh Branchaud</a>
                    </small>

                    <br />

                    <small>Lovingly concocted by <a
                            href="http://jekyllrb.com/">Jekyll</a></small>

                    <br />

                    <small>Held together with duct tape and
                    <a
                        href="http://twitter.github.io/bootstrap/">bootstrap</a>

            </footer>

        </div>

    </div>
    
    <!-- Google Analytics - change the UA-XXXX-XX string to your site's ID -->
	<script>
		var _gaq = _gaq || [];
	 	_gaq.push(['_setAccount', 'UA-42584249-1']);
	  	_gaq.push(['_trackPageview']);
	
	  	(function() {
	    		var ga = document.createElement('script'); ga.async = true;
	    		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  	})();
	</script>
	
</body>
</html>
